<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <!--    LINKS GRID   -->
    <virtualType name="LinksGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                StageModules\Links\Model\ResourceModel\Link\Collection
            </argument>
            <argument name="filterPool" xsi:type="object" shared="false">LinksGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="LinksGirdFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter
                </item>
                <item name="fulltext" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cms_added_links_grid_data_source" xsi:type="string">
                    StageModules\Links\Model\ResourceModel\Link\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cms_added_links_form_data_source" xsi:type="string">
                    StageModules\Links\Model\ResourceModel\Link\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="StageModules\Links\Model\ResourceModel\Link\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cms_added_link</argument>
            <argument name="resourceModel" xsi:type="string">StageModules\Links\Model\ResourceModel\Link</argument>
        </arguments>
    </virtualType>



    <!--    PAGE GRID   -->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cms_added_links_page_grid_data_source" xsi:type="string">StageModules\Links\Model\ResourceModel\Page\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
<!--    <virtualType name="PageGridDataProvider"-->
<!--                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">-->
<!--        <arguments>-->
<!--            <argument name="collection" xsi:type="object" shared="false">-->
<!--                StageModules\Links\Model\ResourceModel\Page\Collection-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

<!--    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">-->
<!--        <arguments>-->
<!--            <argument name="collections" xsi:type="array">-->
<!--                <item name="cms_added_links_page_grid_data_source" xsi:type="string">-->
<!--                    StageModules\Links\Model\ResourceModel\Page\Collection-->
<!--                </item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->

<!--    <virtualType name="StageModules\Links\Model\ResourceModel\Page\Collection"-->
<!--                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">cms_added_link_relative_page</argument>-->
<!--            <argument name="resourceModel" xsi:type="string">StageModules\Links\Model\ResourceModel\Page</argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

</config>




